<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <display-name>ProyectoPP</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AñadirCarrito</display-name>
    <servlet-name>AñadirCarrito</servlet-name>
    <servlet-class>servlet.AñadirCarrito</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AñadirCarrito</servlet-name>
    <url-pattern>/añadir-carrito</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CancelarPedido</display-name>
    <servlet-name>CancelarPedido</servlet-name>
    <servlet-class>servlet.CancelarPedido</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CancelarPedido</servlet-name>
    <url-pattern>/cancelar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EliminarProductoCarrito</display-name>
    <servlet-name>EliminarProductoCarrito</servlet-name>
    <servlet-class>servlet.EliminarProductoCarrito</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EliminarProductoCarrito</servlet-name>
    <url-pattern>/eliminar-carrito</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Salir</display-name>
    <servlet-name>Salir</servlet-name>
    <servlet-class>servlet.Salir</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Salir</servlet-name>
    <url-pattern>/log-out</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>servlet.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/user-login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PedidoServlet</display-name>
    <servlet-name>PedidoServlet</servlet-name>
    <servlet-class>servlet.PedidoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PedidoServlet</servlet-name>
    <url-pattern>/pedido</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletCrecDrec</display-name>
    <servlet-name>ServletCrecDrec</servlet-name>
    <servlet-class>servlet.ServletCrecDrec</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletCrecDrec</servlet-name>
    <url-pattern>/s-crec-dec</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletPagarTodo</display-name>
    <servlet-name>ServletPagarTodo</servlet-name>
    <servlet-class>servlet.ServletPagarTodo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletPagarTodo</servlet-name>
    <url-pattern>/pagar-todo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EliminarUsuario</display-name>
    <servlet-name>EliminarUsuario</servlet-name>
    <servlet-class>servlet.EliminarUsuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EliminarUsuario</servlet-name>
    <url-pattern>/eliminar-usuario</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CargarProducto</display-name>
    <servlet-name>CargarProducto</servlet-name>
    <servlet-class>servlet.CargarProducto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CargarProducto</servlet-name>
    <url-pattern>/CargarProducto</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModificarUsuarioServlet</display-name>
    <servlet-name>ModificarUsuarioServlet</servlet-name>
    <servlet-class>servlet.ModificarUsuarioServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModificarUsuarioServlet</servlet-name>
    <url-pattern>/modificar-usuario</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EliminarProductoDB</display-name>
    <servlet-name>EliminarProductoDB</servlet-name>
    <servlet-class>servlet.EliminarProductoDB</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EliminarProductoDB</servlet-name>
    <url-pattern>/eliminar-producto-db</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModificarProductoDB</display-name>
    <servlet-name>ModificarProductoDB</servlet-name>
    <servlet-class>servlet.ModificarProductoDB</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModificarProductoDB</servlet-name>
    <url-pattern>/modificar-producto-db</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CrearUsuario</display-name>
    <servlet-name>CrearUsuario</servlet-name>
    <servlet-class>servlet.CrearUsuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CrearUsuario</servlet-name>
    <url-pattern>/registrar-usuario</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletAñadirPedido</display-name>
    <servlet-name>ServletAñadirPedido</servlet-name>
    <servlet-class>servlet.ServletAñadirPedido</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletAñadirPedido</servlet-name>
    <url-pattern>/agregar-pedido</url-pattern>
  </servlet-mapping>
</web-app>